<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="index.js">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>title</title>
</head>
<body>
  <div id = "app">
    <input type="text" ref="new_content" @keyup.enter="addTask">
    <button v-on:click="addTask">追加</button><br><br>
    <div v-for="item in todolists" v-bind:key="item.id">
    
      <span>{{ item.id }}</span>
      <span v-if="!item.isEditing">{{ item.content }}</span><br>
      <!--isEditingがtrueかfalseかで表示を切り替え-->
      <input type="text" v-model="item.content"><br>
      <!--input type="text" v-model="item.content"-->
      <!--という１行を加えるだけでタスクの中身と入力フォームが同期されます。-->
<button v-on:click="deleteTask(item)">削除</button>
    </div>
  </div>
    <script src = "index.js"></script>
</body>
</html> 

<script>
  
</script>